
$blue: #003E51;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #E10098;
$red: #D22630;
$orange: #fd7e14;
$yellow: #F1B300;
$green: #004E42;
$teal: #00AF66;
$cyan: #3498DB;
$primary: $yellow;
$gray-600: #95a5a6;
$secondary: $gray-600;
$success: $teal;
$info: $blue;
$warning: $pink;
$danger: $red;
$gray-200: #ecf0f1;
$light: $gray-200;
$gray-900: #484a4c;
$dark: $gray-900;
$white: #fff;
$gray-100: #f8f9fa;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #b4bcc2;
$gray-700: #7b8a8b;
$gray-800: #343a40;
$black: #000;
$link-color: $success;
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-base: 0.9375rem;
$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2rem;
$table-accent-bg: $gray-200;
$dropdown-link-color: $gray-700;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;
$nav-link-padding-y: .5rem  !default;
$nav-link-padding-x: 2rem;
$nav-link-disabled-color: $gray-600  !default;
$nav-tabs-border-color: $gray-200;
$navbar-padding-y: 1rem;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $success;
$pagination-color: $white;
$pagination-bg: $success;
$pagination-border-width: 0;
$pagination-border-color: transparent;
$pagination-hover-color: $white;
$pagination-hover-bg: darken($success, 15%);
$pagination-hover-border-color: transparent;
$pagination-active-bg: $pagination-hover-bg;
$pagination-active-border-color: transparent;
$pagination-disabled-color: $gray-200;
$pagination-disabled-bg: lighten($success, 15%);
$pagination-disabled-border-color: transparent;
$progress-height: 10px;
$progress-font-size: 10px;
$list-group-hover-bg: $gray-200;
$list-group-disabled-bg: $gray-200;
$close-color: $white;
$close-text-shadow: none;