<script src="{{ "/assets/js/isotope.pkgd.min.js" | relative_url }}"></script> 
<script src="{{ "/assets/js/jquery.lazyload.js" | relative_url }}"></script>
<script>


jQuery(document).ready(function($) {
    var $win = $(window),
        $container = $('#isocontainer'),
        $imgs = $("img.lazy");
    var qsRegex;
// init Isotope
    $container.isotope({
     itemSelector: '.item',
     layoutMode: 'fitRows',
     transitionDuration: 0,
     onLayout: function() {
            $win.trigger("scroll");
        },
    filter: function() {
      return qsRegex ? $(this).text().match( qsRegex ) : true;
    }
  });
 
  // Lazy Load images when they appear in DOM
  $imgs.lazyload({ 
        effect: "fadeIn",
        failure_limit: Math.max($imgs.length - 1, 0)
  });
  $('img.lazy').on('appear',500, function(){  setTimeout(console.log("laz"), 2000);});//fires this function when it appears});

  // use value of search field to filter
   var $quicksearch = $('#goButton').click( function() {
    qsRegex = new RegExp( $('#quicksearch').val(), 'gi' );
    $container.isotope();
    }) ;
   // click goButton to search if return pressed in search box
   $('#quicksearch').keypress(function(e){
        if(e.which == 13){//Enter key pressed
            $('#goButton').click();//Trigger search button click event
         }
    });

// sort items 
    $('#sorts').on( 'click', 'button', function() {
  var sortByValue = $(this).attr('data-sort-by');
  $container.isotope({ sortBy: sortByValue });
  $(this).addClass('select');
  $('#sorts button').not(this).removeClass('select');
});

// count number of items showing and list near search box
function onLayout() {
  var numberofint = $('div.item:visible').length;
  $("#numberof").html(numberofint);
  $("html,body").trigger("scroll");
}
// bind event listenerg
 $container.isotope('layout');
  $container.isotope( 'on', 'layoutComplete', onLayout );
});

// fiter items by entering value of button or link pushed into quicksearch box
var filterit = function() {
 $('#quicksearch').val('');
$(this).addClass('active');
$('a.filter').not(this).removeClass('active');
  var filterValue = $(this).attr('data-filter');
  var filterClass = $(this).attr('data-filter').replace(" ","-").replace(" ","-");
 $('#quicksearch').val($('#quicksearch').val() + filterValue);
  $('#goButton').click();
    window.location.hash = filterValue; 
   var filterValueclass = "." + filterClass;
$(filterValueclass).addClass('active');
};
// run filterit function when link/button with class filter clicked
 $('a.filter').click(filterit);

// trigger a scroll to trigger isotope reload/re-format
 $('a.filter').click( function() {
  $("html,body").trigger("scroll");
});
</script>

<script>
// get hash from url
var hashfilter = location.hash.substr(1).replace("%20"," ").replace("%20"," ").replace("%20"," ").replace("%20"," ");
var hashfilterclass = "." + location.hash.substr(1).replace("%20","-").replace("%20","-").replace("%20","-").replace(" ","-").replace(" ","-").replace(" ","-");

$(document).ready(function() {
$("#quicksearch").focus();
if(window.location.hash) {
	// code to be executed if a hash is contained in the url
 $('#quicksearch').val($('#quicksearch').val() + hashfilter);
$('#goButton').click();
$(hashfilterclass).addClass('active');
$('.intropar').show();
$('#isocontainer').isotope('layout');
}
else{
}});
</script>