<div class="container hidden-sm-down">
    <div class="row">
     <!-- <div class="col-md-2">
       <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Toggle Sidebar</span>
                            </button>
        </div> -->

        <div class="col-md-10" >
            <h2><a href="{{ site.baseurl }}/" style="color:black;">{{ site.title }}</a></h2>		 
            <p>{{ site.tagline }}</p>
        </div>
    </div>	
</div>