<div class="container d-none d-md-block">
    <div class="row">
            <div class="col-md-9 align-middle mt-2" >
                    <h3 class="align-middle"><a href="{{ site.baseurl }}/" style="color:black;">{{ site.title }}</a></h3>
                </div>
     <div class="col-md-3 p-3">
        <a class="mx-auto" href="http://www.lib.uidaho.edu/digital/index.html" title="University of Idaho Library Digital Initiatives">
             <img src="https://www.lib.uidaho.edu/digital/justdi_logo_sm.png" alt="digital initiatives logo"></a>
            </div>

  
    </div>	
</div>