<div class="container d-none d-md-block">
    <div class="row">
            <div class="col-md-9 mt-3" >
                    <h2><a href="{{ site.baseurl }}/" style="color:black;">{{ site.title }}</a></h2>
                        <p>{{site.tagline}}</p>
                </div>
     <div class="col-md-3 p-3">
        <a class="mx-auto btn bg-clear"  title="University of Idaho Library Digital Initiatives" data-toggle="modal" data-target="#collections">
             <img src="https://www.lib.uidaho.edu/digital/justdi_logo_sm.png" alt="digital initiatives logo"></a>
            </div>

  
    </div>	
</div>