.thumb
{    max-width: 80px;
    box-shadow: 2px 2px 2px grey;}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width: 95%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 95%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 90%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}


.description{min-width:350px;}
/*
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #efe5e5;}

    .btn-info {
        color: #fff;
        background-color: #18F1B7;
        border-color: #17a2b8;
    }

    .bg-dark {
        background-color: #A49159!important;
    }*/

    .chart rect {
        fill: steelblue;
       cursor: pointer;
           }
           .chart rect:hover{
            fill:black;
        } 
      .chart text {
        fill: white;
        font: 10px sans-serif;
        text-anchor: end;
      }
