---
# front matter
---
@charset "utf-8";

// base variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$text-color:       #333;
$background-color: #fdfdfd;
$brand-color:      #B06048;

$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

@import "custom";


