---
layout: default
---
{%- assign fields = site.data.metadata-config -%}

<div class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ "/" | absolute_url }}">IWDL</a></li>
        <li class="breadcrumb-item"><a href="{{ "/items/" | absolute_url }}">Items</a></li>
        <li class="breadcrumb-item active">{{ page.title | truncatewords: 5 }}</li>
    </ul>

    <div class="">
        <h2 class="">{{ page.title }}</h2>
    </div>

    <div class="row">

        <div class="card col-md-4" >
         <img class="card-img-top thumb" src="{% include image/thumb.html %}" alt="item thumbnail">
            <div class="card-body">
{% if page.format contains "pdf" %}<a target="_blank" href="{% include download/pdf.html %}">Download PDF</a>
{% elsif page.format contains "image" %}<a target="_blank" href="{% include download/image.html %}">View Image in New Tab</a>
{% elsif page.format contains "mp3" %}<a target="_blank" href="{% include download/mp3.html %}">Download PDF</a>
{% else %}
{% endif %}
            </div>
        </div>
        <div class=" card col-md-8">
            <div class="card-body metadata">
                <ul>
                    {% for f in fields %}{% if page[f.field] %}<li><span class="field">{{ f.display-name }}:</span> <span class="field-value">{{ page[f.field] }}</span></li>{% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div> 
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                Related
            </div>
            <div class="card-body">
              
                <p>subjects, series, collection links</p>
                {% assign subjects = page.subjects | split:';' %}
                     {% for subject in subjects %}
                     <a class="vocab {{ subject | strip }}"  href="../browse/#{{ subject | strip }}">{{ subject }}</a>
                     {% endfor %} 
            </div>
        </div>
    </div>

    <div class="back-button">
        <a href="{{ "/items/" | relative_url }}">❮ Back to Collection Items</a>
    </div>
</div>
