---
layout: page
---
{{ content }}
<style>
    th, td {
    border-bottom: 1px solid #ddd;
    padding:10px;
}
tr:nth-child(odd) {background-color: #f4f4f4;}
tr:nth-child(even) {background-color: #b9b4b4;}
tr:hover {background-color: #666;}
</style>
{% assign items = site.data[site.csvtitle] %}
{% include array/years.html %}
<h3><a href="#{{ date-range | first }}">{{ years | first }}</a> to <a href="#{{ date-range | last }}">{{ years | last }}</a></h3>

{%- assign uniqueDates = date-range | uniq | sort -%}

<table>
  {%for date in uniqueDates %}
  <tr>
<td><h2><span id="{{date}}">{{date}}</span></h2></td><td>{%for item in items %} {% if item.date contains date %}<a href="{%include item-link.html %}" target="blank"><img class="lazy" data-original="{%include image/thumb.html %}" style="margin:10px;" alt="{{item.title}}"  title="{{item.title}} | {{item.date}}"/></a>{% endif %} 
    {%endfor%}</td>
  </tr>
  {%endfor%}
 </table>
